// ================================================================================
$--mainWhite: #fff;
$--mainBlack: #000;
$--mainBorder: #e5e5e5;
$--mainLightGray: #999;
$--mainHeading: #1e1d23;
$--mainBackground: #1f2b3c;
$--mainTransition: all 0.3s ease-in-out;
// ================================================================================

.container {
  padding: 0 80px;
  margin: 0 auto;
}

// ======== Start Global Rules ==========
* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: $--mainTransition;
}

body {
  font-family: "Gilroy", sans-serif;
  background-color: $--mainBackground;
  color: $--mainWhite;
}

input,
textarea {
  outline: none;
}

.App {
  padding: 50px 0;
}

/* Start Screen Responsive */

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Big Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

// ===== Max ======
/* Small Screens */
@media (max-width: 768px) {
  .container {
    padding: 10px !important;
  }
}

/* Medium Screens */
@media (max-width: 992px) {
}

/* Big Screens */
@media (max-width: 1200px) {
}

/* End Screen Responsive */
